*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  font-family: 'Arimo', sans-serif;
  background-image: linear-gradient(
    to bottom,
    #ebc1d8,
    #f7ced4,
    #fbded8,
    #fceee4,
    #fffcf6
  );
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
  margin: 0 auto;
  padding: 20px 30px;
  max-width: 1200px;
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fdfdf8c2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.header-info {
  margin-right: 5%;
}

.header-info h1 {
  display: inline-block;
  margin: 0;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 10px;
}

.contact-header {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.contact-list {
  margin: 0;
  padding: 0;
  padding-left: 18px;
  list-style: none;
}

.contact-item {
  position: relative;
  padding: 6px;
}

.contact-item::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.contact-item.mobile::before {
  background-image: url("./assets/icons/telephone.svg");
}

.contact-item.mail::before {
  background-image: url("./assets/icons/envelope.svg");
}

.contact-item.telegram::before {
  background-image: url("./assets/icons/telegram.svg");
}

.contact-item.github::before {
  background-image: url("./assets/icons/github.svg");
}

.contact-item.discord::before {
  background-image: url("./assets/icons/discord.svg");
}

.contact-item img {
  width: 20px;
  height: 20px;
}

.contact-item p {
  display: inline-block;
  margin: 0;
  vertical-align: super;
  line-height: 25px;
  font-size: 19px;
}

.photo-container {
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.photo-container img {
  width: 100%;
  height: 100%;
}

.about {
  background-color: #e7bcc5b0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.about-header {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.about-text {
  text-align: justify;
  margin: 0;
  padding: 0;
  line-height: 27px;
  font-size: 19px;
}

.dev-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.skills {
  background-color: #91B3A7;
  padding: 20px;
  border-radius: 15px;
}

.skills-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.skills-list {
  max-width: 290px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.skills-item {
  font-size: 19px;
  line-height: 35px;
}

.code-section {
  background-color: #fdfdf8cb;
  padding: 20px;
  border-radius: 15px;
}

.code-header {
  margin: 0;
  padding: 0;;
}

.code-section pre {
  margin: 0;
}

.code-section code {
  font-size: 19px;
}

.education {
  background-color: #91B3A7;
  padding: 20px;
  border-radius: 15px;
  max-width: 290px;
}

.education-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.education-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.education-item {
  font-size: 19px;
  line-height: 35px;
}

.education-item ul{
  padding-left: 20px;

}

.education-item li {
  line-height: 21px;
}

.languages {
  display: block;
  text-align: center;
  background-color: #fdfdf8c7;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}

.languages-header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.languages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages-item {
  font-size: 19px;
  line-height: 35px;
}